.app-logo {
    float: left;
}

#navbar-main {
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-end;
    background-image:url('../project-images/background3.png');
    height:298px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin:10px;
    margin-bottom:50px;
}

#dropdown-menu {
    background-color: #ffffff!important;
}

#dropdown-menu.show {
    background-color: #494949!important;
    width:191px;
    border:solid black 2px;
}

#navbar-dropdown {
    background-color:#343a40!important;
    margin-right: 10px;
    border-radius: 5px;
}

#navbar-dropdown:hover {
    font-style: normal!important;
}

.dropdown-toggle.show {
    color:white!important;
    background-color:black!important;
}

#welcome-logo {
    width:350px;
    display: block;
    margin-left: 33vw;
}

#show-profile-button{
    background-color:#343a40!important;
    color: #ffffff!important;
    margin-right: 10px;
}
