/* a:not([href]):not([tabindex]) {
    color: white!important;
    background-color: rgba(98, 98, 98, 0.507)
} */

li {
    padding: 10px!important
}

.card-body {
    margin-top: 10px;
    padding:10px;
    color:rgb(17, 13, 13);
}

#moosetabs-text {
    padding: 10px;

}

/* #map {
    width: 30vw;
    height: 30vw;
} */
