li {
    padding: 10px!important;
    font-size: 16px;
    background-color: rgb(98, 98, 98);
    color: rgb(255, 255, 255)
}

.card-body {
    margin-top: 10px;
    padding:10px;
    color:rgb(17, 13, 13);
}

#moosetabs-text {
    padding: 10px;

}

.nav-link.active {
    text-shadow: 2px 2px 10px black;
}