#list {
    padding:10px;
}

.list-item {
    margin:20px;
    border-top:solid black .5px;

}

.dayOfTheWeek {
    font-size:22px;
    margin:10px;
    color:#049eec;
    text-shadow: 1px 1px black;

}