#profile-box {
    width: 200px;
    border:2px solid grey;
    float:left;
    font-size: 16px;
    text-shadow: .5px .5px grey;
    text-align: center;
    background-color: rgba(141, 141, 141);
    box-shadow: 3px 3px 10px black;
    margin: 10px;
}

#test-sms {
    margin-bottom: 5px;
}

.App-logo {
    height: 140px;
    margin-bottom: 10px;
}

h4{
    font-size: 40px;
    text-shadow: 1px 1px gray
}

#profile-button {
    background-color:#343a40!important;

}

.card {
    border: none!important;
}

.modal-body {
    background-color :white;
}

.profile-base-text {
    text-shadow: 2px 2px black;
    font-size: 20px;
    color: rgb(61, 189, 221);
    text-align: center;
}
