#profile-box {
    width: 200px;
    /* border:2px solid grey; */
    float:left;
    font-size: 16px;
    text-shadow: .5px .5px grey;
    text-align: center;
    background-color: rgba(141, 141, 141);
    /* box-shadow: 3px 3px 10px black; */
    margin: 10px;
    background-color:#343a40!important;
    color:white;

}

#test-sms {
    margin-bottom: 5px;
    background-color: #049eec!important;   
}

#stop-sms {
    background-color: #049eec!important;
    margin:2px;



}

.App-logo {
    height: 140px;
    margin-bottom: 10px;
}

h4{
    font-size: 40px;
    text-shadow: 1px 1px gray
}

#profile-button {
    background-color:#343a40!important;

}

.card {
    border: none!important;
}

.modal-body {
    background-color:#343a40!important;
}

.profile-base-text {
    text-shadow: .5px .5px black;
    font-size: 23px;
    color: rgb(61, 189, 221);
    text-align: center;
    border-bottom: solid rgba(255, 255, 255, 0.651) 1px;
    padding:4px;
    margin:7px;

}

.modal-footer {
    background-color:#343a40!important;

}

.modal-header {
    background-color:#343a40!important;

}

.modal-title {
    color:white;
    font-size:20px;
    text-shadow: .5px .5px rgb(0, 0, 0);

    
}